.title {
    /*color: white;*/
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    background-color: #2C2F33;
}
.mode {
    padding-bottom: 30px;
}
.forecast {
    padding-bottom: 30px;
}
.graph {
    background-color: #2C2F33;
}
.optionsandgraphs {
    background-color: #2C2F33;
}
.options {
    margin-top: 40px;
}
.mode {
    background-color: #2C2F33;
}
.forecast {
    background-color: #2C2F33;
}
.footer {
    position: fixed;
    bottom: 0;
  }
.footnote {
    color: white;
}
html {
    background-color: #2C2F33;
}
body {
    background-color: #2C2F33;
}